<div class="container">
     <h1>Shopping List</h1>

         <div class="form-group">
             <input id="dishes" type="text"  [(ngModel)]="dishes"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default" (click)="countDishes();">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <div class="{{textStyle}}">
             {{msg}}
           </div>
         </div>
   </div>